<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
<script>
    let url = 'http://80.87.111.224:80/rtf/magazine/24';
    let imageUrl = '';
    fetch(url, {mode:'cors'})
        .then(res => res.text())
        .then((data) => {
            console.log(data);
        })
        .catch(err => { throw err });
</script>
</body>
</html>
